#menu {
}

#button {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
}

#label {
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: medium;
  display: inline-block;
  height: 1.5rem;
}

.icon {
  position: relative;
  font-size: 1.3rem;
  margin-right: 0.2rem;
  display: inline-block;
  height: 1.2rem;
}

#icon_div {
  height: 1.2rem;
  width: 1.5rem;
  display: inline;
  position: relative;
}

.menu_div{
    display: flex;
    align-items: center;
}
.menu_icon{
    margin-right: 0.2rem;
}