#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid thistle;
  background: #fcfaf6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: brown;
  z-index: 10;
  height: 3.8rem;
  margin: 0;
  padding: 0 14rem;
  top: 0;
  padding-left: 1rem;
  position: sticky;
}

#shop_name {
  cursor: pointer;
}
#shop_name:hover {
  opacity: 0.94;
}

#input {
  text-align: center;
  width: 18rem;
}

.icon {
  height: 2rem !important;
  width: 2rem !important;
}

#div_auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.2rem;
}

#user_menu {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login_btn {
  margin-right: 0.5rem;
}

#favorite {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
}

#favorite_icon {
  position: relative;
  font-size: 1.3rem;
  margin-right: 0.2rem;
  display: inline-block;
  height: 1.2rem;
}

#favorite_label {
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: medium;
  display: inline-block;
  height: 1.5rem;
}
