#favorites {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.divider{
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
.card {
  width: 30%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 0 !important;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 !important;
}
.img {
  width: 25rem;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
}
