#favorites {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.divider {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.card {
  width: 15%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 0 !important;
}

.div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0 !important;
  background: #f1f1f1;
  margin: 1rem;
  border-radius: 8px;
  position: relative;
}

.div:hover {
  .buy_div {
    opacity: 1;
  }

}

.img {
  width: 14.3rem;
  height: 13.5rem;
  border-radius: 8px;
}

.title {
  font-weight: 600;
  width: 14rem;
  font-size: 0.9rem;
  text-wrap: wrap;
  text-align: center;
  padding: 0.2rem;
  height: 2rem;
}

.buy_div {
  opacity: 0;
  margin: 0.5rem;
}
.delete_div {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 2;
}

.delete_btn {
  padding: 0;
  height: 30px;
  color: gray;
}

.delete_icon{
  height: 30px;
}
