#register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  padding: 0.2rem 2rem;
  padding-top: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem !important;
}
