#Register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Input_name{
    width: 12.1rem;
}

h4{
    padding: 0.2rem 2rem;
    padding-top: 0;
}