#register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form{
  width: 20rem;
}

#label {
  display: block;
  margin-top: 1rem;
}

#submit_btn{
  margin-top: 1rem;
}