#item {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
#header_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#div_detail {
  margin-right: 8rem;
}

#product_title_label {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.1rem;
  text-wrap: wrap;
  width: max-content;
  max-width: 40rem;
}

#product_title_divider {
  width: 43rem;
}

#price_label{
  margin: 0.4rem 0;
  font-size: 2rem;
}

