.input {
  text-align: center;
}

#div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 1.5rem;
}

#quantity_label {
  font-weight: 500;
  letter-spacing: 0.02rem;
  margin-right: 0.4rem;
}

#quantity_input {
  margin: 0 0.2rem;
  width: 2.5rem;
  border-radius: 0;
}
#quantity_input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.control_btn {
  text-align: center;
  font-size: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}
